{
  "clean": true,
  "all": true,
  "include": ["src/**"],
  "exclude": [
    "src/@types",
    "src/bin",
    "src/configs",
    "src/polyfills",
    "src/modules/index.ts",
    "src/modules/helpers/create-service.ts",
    "src/modules/helpers/exit.ts",
    "src/modules/helpers/get-pids.ts",
    "src/modules/helpers/kill.ts",
    "src/modules/helpers/log.ts",
    "src/modules/helpers/skip.ts",
    "src/services/container.ts",
    "src/parsers/get-runner.ts",
    "src/parsers/get-runtime.ts",
    "src/services/pid.ts"
  ],
  "reporter": ["text", "lcov", "cobertura"],
  "branches": 95,
  "statements": 95,
  "lines": 95,
  "functions": 95,
  "checkCoverage": true,
  "import": ["tsx"],
  "extension": [".ts"]
}
