{
  "all": true,
  "include": ["src/**"],
  "exclude": [
    "src/@types/**",
    "fixtures",
    "test",
    "tools",
    "website",
    "ci",
    "lib"
  ],
  "extension": ["ts"],
  "reporter": ["text", "lcov"],
  "clean": true
}
