[data-theme='dark'] {
  section {
    &.stability {
      &[data-level='0'] {
        --stability-background: #e70a4c;
        --stability-border: #b43643;
        --stability-title-background: #fff;
        --stability-title-color: #e70a4c;
        --stability-text: #ffe0e6;
        --stability-description: #ffe0e6;
        --stability-separator: #b43643;
      }

      &[data-level='1'],
      &[data-level='1.0'],
      &[data-level='1.1'],
      &[data-level='1.2'] {
        --stability-background: #570ae7;
        --stability-border: #200046;
        --stability-title-background: #ffffff;
        --stability-title-color: #5f0ae7;
        --stability-text: #f1eeff;
        --stability-description: #f2eeff;
        --stability-separator: #310080;
      }

      &[data-level='2'] {
        --stability-background: #019c59;
        --stability-border: #035e44;
        --stability-title-background: #fff;
        --stability-title-color: #10825e;
        --stability-text: #e8ffe0;
        --stability-description: #e8ffe0;
        --stability-separator: #035e52;
      }

      &[data-level='3'] {
        --stability-background: #0a8be7;
        --stability-border: #2a6996;
        --stability-title-background: #fff;
        --stability-title-color: #0a8be7;
        --stability-text: #e0f2ff;
        --stability-description: #e0f2ff;
        --stability-separator: #2a6996;
      }
    }
  }
}
