name: 'Docs Deploy'
on:
  push:
    branches:
      - main
    paths:
      - 'website/**'
  workflow_dispatch:

env:
  SRV_HOST: ${{secrets.SRV_HOST}}
  SRV_USER: ${{secrets.SRV_USER}}
  SRV_PORT: ${{secrets.SRV_PORT}}
  SRV_PASS: ${{secrets.SRV_PASS}}
  APP_PORT: ${{secrets.APP_PORT}}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Actions - Checkout
        uses: actions/checkout@v4

      - name: Actions - Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Installing Dependencies
        run: cd website && npm ci

      - name: Checking Types
        run: cd website && npm run typecheck

      - name: Run Unit Tests
        run: cd website && npm run test:unit

      - name: Building Site
        run: cd website && npm run build

      - name: Deploy
        run: cd website && npm run deploy
